#/etc/udev/rules.d/hercules.rules
KERNEL=="ttyUSB*", KERNELS=="1-1.5", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE:="0777", SYMLINK+="sensor_soc"
KERNEL=="ttyUSB*", KERNELS=="1-1.4", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE:="0777", SYMLINK+="sensor_mpu"
KERNEL=="ttyUSB*", KERNELS=="1-1.3", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="base_controller"
KERNEL=="ttyUSB*", KERNELS=="1-1.2", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="rplidar"
KERNEL=="ttyACM*", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="003d", MODE:="0777", SYMLINK+="base_controller"
KERNEL=="js*", MODE:="0777"
KERNEL=="video*", MODE:="0777"
KERNEL=="event*", NAME="input/%k", MODE:="0777"
